.App {
  text-align: center;
}

#list {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  
}
.listitems {
  width: 90px;
}
.pics {
  display: inline-block;
  flex-wrap: nowrap;
  justify-content: center;
  width: 150px;
  margin-left: 20px;
}
.stats {
  list-style: none;
  display: flexbox;
  justify-content: center;
  text-align: center;
}
.pokemonTeam {
  display: inline-flex;
  justify-content: center;
  margin: 0px 10px 0px 10px;
  max-width: 100%;
}
.individualpoke {
  margin: 0px 10px 0px 10px;
}
.teams {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  max-width: 100%;
  border-style: solid;
  margin: 10px 20px 10px 20px;
  flex-wrap: wrap;
}
.teamsItems {
  display: inline-flex;
  justify-content: center;
  /* margin: 10px 20px 10px 20px; */
  /* border-style: solid; */
  max-width: 100%;
}
#delete {
  display: flex;
  flex-wrap: wrap;  
  margin: 50px;
  justify-content: center;

}
.allTeamPics {
  display: inline-flex;
  justify-content: center;
  width: 91px;
  /* max-width: 100%; */
}
.pokeNames {
  margin-top: 50px;
  margin-right: 15px;
}
.navbar {
  background-color: rgb(134, 3, 3);
  margin-top: -23px;
  max-width: 100%;
}
.head {
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
}
.Pokedex {
  text-decoration: none;
  color: black;
  display: inline-flex;
  margin-right: 10px;
}
.myTeam {
  text-decoration: none;
  color: black;
  display: inline-flex;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
  
  
}
.AllTeams {
  text-decoration: none;
  color: black;
  display: inline-flex;
  margin-left: 10px;
}
#linkBar {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  max-width: 100%;
}
.fullDex {
  margin-top: 40px;
}
.submitUser {
  margin-top: 40px;
  justify-content: center;
  
}
.Name {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: nowrap;

}
.type {
  display: flexbox;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.Pokemon {
  display: inline-block;
  justify-content: center;
  flex-wrap: nowrap;

}
.fullStats {
  border-style: solid;
  text-align: center;
  margin-right: 20px;
  padding-right: 35px;
}

@media screen and (max-width: 1380px) {
  .teams {
    display: grid;
    grid-template-columns: 10px;
    
  }
  .allTeamPics {
    display: grid;
    grid-template-columns: 10px;
  }
  .teamsItems {
    display: grid;
    grid-template-columns: 10px;
    margin-left: px;
    margin-bottom: 60px;
    /* border-style: solid;
    border-color: black; */
  }
}

@media screen and (max-width: 1380px) {
  .pokemonTeam {
    display: grid;
    grid-template-columns: 10px;
    justify-content: center;
  }
}